body{
    font-family: 'Red Hat Text', sans-serif;
    font-family: 'Aleo', serif;
}
a{
    display: inline-block;
    color: #ffffff;
}
/* a::after{
    display: block;
    content: '';
    height: 1px;
    width: 0%;
    background-color: red; 
    transition: width 0.4s ease-in-out;
    opacity: .5;
} */
a:hover::after{
    transition-duration: .5s;
    width: 100%;
}
h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 96px;
    color: #ffffff;
}
h2 {
    color: #F2785C;
    font-size: 40px;
    font-weight: 500;
    line-height: 53px;
}
h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-size: 35px;
    line-height: 42px;
}
.button{
    transition: .8s;
}
.button:hover{
    background-color: grey;
    opacity: 0.5;
}
.wrapper{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
.header{
    background: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
}
.background{
    background-color: #F2785C;
    opacity: 70%;
    width: 100%;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.navigation {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    padding: 25px 0 24px 0;
    z-index: 1;
    font-family: 'Red Hat Text', sans-serif;
}
.logo {
    background-image: url(./img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 158px;
}
.nav{
    margin-right: 196px;
}
.nav>ul {
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    justify-content: space-between;
}
.nav_list-item{
    margin-right: 42px;
}
.nav_list-item:last-child{
    margin-right: 0;
}
.button_header{
    padding: 10px 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    background-color: #0D606F;
    border-radius: 10px;
}
.search {
    max-width: 892px;
    padding: 30px 0 255px 0;
}
.search>h1{
    margin-bottom: 33px;
}
.search>p{
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.1px;
    color: #ffffff;
    margin-bottom: 46px;
}
form {
    position: relative;
}
.input{
    display: block;
    padding: 32px 291px 32px 41px;
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    width: 100%;
    border-radius: 16px;
    background-color: #ffffff;
    opacity: 0.7;
    color: #F2785C;
}
.search_button{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    background-color: #0D606F;
    padding: 12.5px 32.5px;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 18px;
}


/* SECTION STEPS START */
.steps_section{
    margin-bottom: 97px;
}
.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title_steps {
    text-align: center;
    margin-bottom: 40px;
}
.step_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step_pic {
    margin-bottom: 30px;
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background-color: #F2785C;
    background-repeat: no-repeat;
    background-position: center;
}
.velo{
    background-image: url(./img/velo.svg);
}
.date{
    background-image: url(./img/date.svg);
}
.air{
    background-image: url(./img/air.svg);
}
.step_text {
    font-family: Aleo;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
/* END */


/* START SLIDER */
.slider_section{
    margin-bottom: 80px;
}
.title_slider {
    text-align: center;
    margin-bottom: 46px;
}
/* END SLIDER */

/* START STORIES */
.stories_section {
    position: relative;
    padding: 40px 0;
    color: #0D606F;
}
.stories_section::before{
    content: '';
    position: absolute;
    /* top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    inset: 0;
    background-image: url(./img/backMount.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: -10;
}
.title_stories {
    text-align: center;
    margin-bottom: 30px;
}
.stories_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* isolation: isolate; */
}
.stories_content {
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}
.stories_content:last-child {
    margin-bottom: 0;
}
.stories_pic img {
    display: block;
    border-radius: 10px;
}
.stories_text {
    font-family: 'Aleo';
    font-size: 20px;
    line-height: 24px;
}
.stories_text h3 {
    margin-bottom: 24px;
}
.stories_text a {
    color: #0D606F;
    font-family: 'Aleo';
    font-weight: 700;
    text-decoration-line: underline;
}
.link_container{
    text-align: center;
}
.btn_link {
    padding: 14px 31px 14px 0px;
    background-color: #0D606F;
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.btn_link::before {
    content: '\2192';
    padding: 0 13px 0 30px;
}
/* START STORIES */

/* SLIDER STAR */
.container {
    background: #ffffff96;
    text-align: center;
    margin-bottom: 80px;
}
.btn, .slaider_wrapper, .dot {
    display: inline-block;
    vertical-align: middle;
}
.btn {
    padding: 5px 10px;
    background-color: #F2785C;
    color: #ffffff;
    border: 1px solid rebeccapurple;
}
.btn:hover, .dot:hover, .dot:active {
    background-color: red;
}
.btn:active {
    background-color: #F2785C;
}
.slaider_wrapper {
    width: 800px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 16px;
}
.slider_line {
    display: flex;
    position: relative;
    left: 0;
}
.slider_line img {
    /* margin: 0 30px; */
}
.dot_wrapper {
}
.dot {
    width: 20px;
    height: 20px;
    background-color: #F2785C;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}
.active {
    background-color: red;
}
/* SLIDER END */